hostname {{ hostname }}

username {{ ansible_user }} secret 5 {{ user_passw }}
enable secret 5 {{ enable_passw }}

vlan {{ mgmt_vlan }}

{% if ansible_iface %}
interface {{ ansible_iface }}
  switchport mode access
  switchport access vlan {{ mgmt_vlan }}
{% endif %}

interface range {{ trunk_iface }}
  switchport trunk encapsulation dot1q
  switchport mode trunk

ip routing
interface vlan {{ mgmt_vlan }}
  ip address {{ mgmt_addr }}
  no shutdown

{% if mgmt %}
interface {{ mgmt['to_r1'] }}
  no switchport
  ip address {{ mgmt['to_r1_addr'] }}
  no shutdown

interface {{ mgmt['to_r2'] }}
  no switchport
  ip address {{ mgmt['to_r2_addr'] }}
  no shutdown
{% endif %}

access-list 22 permit {{ mgmt_net_acl }}
line vty 0 15
  login local
  access-class 22 in
  transport input ssh 

ip domain name {{ domain_name }}
crypto key generate rsa general-keys modulus 2048
